<div class="top-row px-4">
 </div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <a href="https://www.linkedin.com/in/sana-cs/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
             alt="LinkedIn" width="32" height="32" style="vertical-align: middle; margin-right: 8px;" />
        LinkedIn Profile
    </a>
</div>